<h1><%= params[:hashtag] %></h1>

<table class="table table-striped">
  <tr>
    <th>Report Id</th>
    <th>Report Description</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Hashtags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <% Location.where("hashtag like :currentHashtag", {:currentHashtag => "%#" + params[:hashtag] + "%"}).each do |location| %>
  
  <tr>
    <td><%= location.id %></td>
    <td><%= link_to location.address, location_path(location) %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= location.hashtag %></td>
    <td><%= link_to "Show", location %></td>
    <td><%= link_to "Edit", edit_location_path(location) %></td>
    <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    
  </tr>
  <% end %>
 