<% title "Locations" %>


<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%;  }
</style>

<body>
<div id='map' style="height:400%;"></div>
<script>
var map = L.mapbox.map('map', 'examples.map-9ijuk24y')
    .setView([19.4426018, -99.1332049], 15);
</script>
</body>
<table>
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% for location in @locations %>
    <tr>
      <td><%= location.address %></td>
      <td><%= location.latitude %></td>
      <td><%= location.longitude %></td>
      <td><%= link_to "Show", location %></td>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Location", new_location_path %></p>
