<% title "Location" %>

<p>
  <strong>Report description:</strong>
  <%= @location.address %>
  
</p>
<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

 <strong>Hashtags:</strong>
<%= @location.hashtag %>
 



<style>
  body { margin:0; padding:0;}
  #map { position:absolute; top:200px;  bottom:0; width:350px;  }
</style>

<body>
<div id='map' style="height:350px;"></div>
<script>
var map = L.mapbox.map('map', 'rodmal.i94k0pon')
    .setView([<%= @location.latitude %>,<%= @location.longitude %>], 15);

L.marker([<%= @location.latitude %>,<%= @location.longitude %>]).addTo(map);
    
    
</script>
</body>
<h3>Nearby reports</h3>
<ul>
<% for location in @location.nearbys(10) %>
    <li><%= link_to location.address, location %>(<%= location.distance.round(2) %> miles)</li>
<% end%>
  
  
  
</ul>
<p>
  <%= link_to "Edit", edit_location_path(@location) %> |
  <%= link_to "Destroy", @location, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", locations_path %>
</p>
