<% if !user_signed_in? %>
  <li><%= link_to "Sign in", new_user_session_path, :class => "navigation_item" %></li>
  <li><%= link_to "Sign up", new_user_registration_path, :class => "navigation_item"%></li>
<% else %>
  <li><%= link_to "Map", inside_path %></li>
  <li><%= link_to "Edit your account", edit_user_registration_path, :class => "navigation_item" %></li>

  <% if current_user.admin? %>
    <li><%= link_to "Admin", admin_root_path, :class => "navigation_item" %></li>
  <% end %>

  <li><%= link_to "Sign out", destroy_user_session_path, data:{method: :delete}, :class => "navigation_item" %></li>
<% end %>